<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <veepee>
            <general>
                <enabled>0</enabled>
                <cron_collect_veepee_orders>0 0 0 0 0</cron_collect_veepee_orders>
            </general>
            <developer>
                <logging_enabled>0</logging_enabled>
            </developer>
        </veepee>
    </default>
</config>
