<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <veepee>
            <general>
                <enabled>0</enabled>
            </general>
            <various>
                <cron_collect_veepee_orders>5 6,9,15 * * *</cron_collect_veepee_orders>
                <cron_collect_veepee_campaigns>2 6 * * *</cron_collect_veepee_campaigns>
                <cron_push_veepee_orders>*/5 * * * *</cron_push_veepee_orders>
                <cron_create_parcels_and_tracking>8 * * * * </cron_create_parcels_and_tracking>
            </various>
            <developer>
                <logging_enabled>0</logging_enabled>
            </developer>
        </veepee>
    </default>
</config>
